@model List<YoKart.Models.Product>
@{
    var categories = ViewData["categories"] as List<Category>;
    var subcategories = ViewData["subcategories"] as List<SubCategory>;
    var filepath = myVar.imagePaths;
    var product = Model;
}
<input type="hidden" id="pageCount" value="@myVar.pageCount" />
@if (Model.Count() > 0)
{
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => categories.FirstOrDefault(m => m.CategoryId == item.CategoryId).CategoryName)</td>
            <td>
                @Html.DisplayFor(modelItem => subcategories.FirstOrDefault(m => m.SubCategoryId == item.SubCategoryId).SubCategoryName)
            </td>
            <td>@Html.DisplayFor(modelItem => item.ProductName)</td>
            <td class="text-center">
                @foreach (string imagePath in filepath)
                {
                    bool imageExists = false;
                    if (imagePath.Contains(item.ProductImage))
                    {
                        <img src="~/images/products/@item.ProductImage" alt="Product Image" style="width:70px !important;"/>
                        imageExists = true;
                        break;
                    }
                }
            </td>
            <td>@Html.DisplayFor(modelItem => item.ProductPrice) &#8377;</td>
            <td>
                <div style="max-height:90px; overflow-y:auto">
                    @Html.DisplayFor(modelItem => item.ProductDescription)
                </div>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProductId })
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.ProductId }, new { onclick = "return confirm('Are you sure you want to delete this item?');" })
            </td>
        </tr>
    }
}