@model IEnumerable<YoKart.Models.Product>
@{
    ViewData["Title"] = "Index";
    var categories = ViewData["categories"] as List<Category>;
    var subcategories = ViewData["subcategories"] as List<SubCategory>;
    var filepath = GlobalVariable.imagePaths;
}

<h3>List Product</h3>
<hr />
<div class="">
    <a asp-controller="Product" asp-action="Create" class="btn btn-success">Create New</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => categories.FirstOrDefault(m => m.CategoryId == model.CategoryId).CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => subcategories.FirstOrDefault(m => m.SubCategoryId == model.SubCategoryId).SubCategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductPrice)
            </th>
            <th width="30%">
                @Html.DisplayNameFor(model => model.ProductDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>@Html.DisplayFor(modelItem => categories.FirstOrDefault(m => m.CategoryId == item.CategoryId).CategoryName)</td>
                <td>
                    @Html.DisplayFor(modelItem => subcategories.FirstOrDefault(m => m.SubCategoryId == item.SubCategoryId).SubCategoryName)
                </td>
                <td>@Html.DisplayFor(modelItem => item.ProductName)</td>
                <td>
                    @foreach (string imagePath in filepath)
                    {
                        bool imageExists = false;
                        if (imagePath.Contains(item.ProductImage))
                        {
                            <img src="~/images/products/@item.ProductImage" alt="Product Image" width="80" height="100" />
                            imageExists = true;
                            break;
                        }
                    }
                </td>
                <td>@Html.DisplayFor(modelItem => item.ProductPrice)$</td>
                <td>@Html.DisplayFor(modelItem => item.ProductDescription)</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ProductId })
                    @*     |@Html.ActionLink("Details", "Details", new { id=item.ProductId }) | *@
                    @* @Html.ActionLink("Delete", "Delete", new { id=item.ProductId }) *@
                </td>
            </tr>
        }
    </tbody>
</table>
