@model IEnumerable<YoKart.Models.Product>
@{
    ViewData["Title"] = "Index";
    var categories = ViewData["categories"] as List<Category>;
    var subcategories = ViewData["subcategories"] as List<SubCategory>;
}

<h3>Products</h3>
<hr />
<div class="">
    <a asp-controller="Product" asp-action="Create" class="btn btn-success">Create New</a>
</div>

<table class="table">
    <thead class="">
        <tr>
            <th>
                @Html.DisplayNameFor(model => categories.FirstOrDefault(m => m.CategoryId == model.CategoryId).CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => subcategories.FirstOrDefault(m => m.SubCategoryId == model.SubCategoryId).SubCategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductPrice)
            </th>
            <th width="30%">
                @Html.DisplayNameFor(model => model.ProductDescription)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
   @Html.Partial("_index")
</table>
