@model YoKart.Models.Product
@{
    ViewData["Title"] = "Products";
    var subcategories = ViewData["subcategories"] as List<SubCategory>;
}

<div>
    <h4>@subcategories.FirstOrDefault(m => m.SubCategoryId == Model.SubCategoryId).SubCategoryName</h4>
    <hr />
    <div class="row">
        <div class="col border">
            <img src="~/images/products/@Model.ProductImage" alt="Product Image" width="300" class="m-3" />
        </div>
        <div class="col m-4" style="flex-grow:3">
            <div class="row">
                <table class="table">
                    <tr>
                        <th><h2>Product</h2></th>
                        <td><h3>@Model.ProductName</h3><p style="color:green">In stock</p></td>
                    </tr>
                    <tr>
                        <th><h4>Price</h4></th>
                        <td><h5 style="color:red;">@myVar.NumberFormeting(Model.ProductPrice)/-</h5></td>
                    </tr>
                    <tr>
                        <th><h5>Discription</h5></th>
                        <td>
                            <div style="max-height:15em; overflow-y:auto">
                                @foreach (var Discription in @myVar.DiscriptionFormat(Model.ProductDescription))
                                {
                                    <h5>@Discription</h5>
                                }
                            </div>                             
                        </td>
                    </tr>
                </table>
            </div>
            @if (myVar.Roles == "User")
            {
                <div class="row">
                    <div>
                        <button type="button" class="btn btn-danger">Add To Cart</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
